:root {
    --mainbgcolor: black;
    --mainfontcolor: white;
}

.img-cover {
    border-radius: 15px;
    border: 5px solid #2c2f3f;
}

.facts h2 {
    color: var(--mainfontcolor);
}

.facts>p {
    color: var(--mainfontcolor);
}

.skills h2 {
    color: var(--mainfontcolor);
}

.skills p {
    color: var(--mainfontcolor);
}

.resume h2,p,li{
    color: var(--mainfontcolor);
}

.resume h4,.blue{
    color: #149ddd;
}

